<%- include partials/header.ejs %>


<h1>Home</h1>
<p><%= startingContent %></p>

<% posts.forEach(post => { %>
<h1><%= post.title %></h1>

<% if (post.content.length > 100) { %>
    <p><%= post.content.slice(0,99) + "..."%> <a href="/posts/<%= post.title %>">Read more</a></p>
<% } else  { %>
    <p><%= post.content%></p>

    <% } %>
<% }) %>


<%- include partials/footer.ejs %>
